<body>
<form action="/checkout" method="post">
<label id="item" name="item">Item:</label><br>
<input id="item" type="text" name="item">
 <button type="submit" name="submit" value="submit">Submit</button>

</form>
</body>
